KAFKA_BOOTSTRAP_SERVERS=kafka:9092
SCHEMA_REGISTRY_URL=http://schema-registry:8081

MINIO_ROOT_USER=streamflow
MINIO_ROOT_PASSWORD=streamflow123
MINIO_ENDPOINT=http://minio:9000
AWS_ACCESS_KEY_ID=streamflow
AWS_SECRET_ACCESS_KEY=streamflow123

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SOURCE_DB=streamflow_source
POSTGRES_USER=streamflow
POSTGRES_PASSWORD=streamflow123

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=streamflow
CLICKHOUSE_PASSWORD=streamflow123
CLICKHOUSE_DB=analytics

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://streamflow:streamflow123@postgres:5432/airflow_db
AIRFLOW__CELERY__BROKER_URL=redis://redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://streamflow:streamflow123@postgres:5432/airflow_db
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLt0nFmX7s=
AIRFLOW__WEBSERVER__SECRET_KEY=streamflow_secret_key_change_in_prod
AIRFLOW__CORE__LOAD_EXAMPLES=False

SPARK_MASTER_URL=spark://spark-master:7077
SPARK_DRIVER_MEMORY=1g
SPARK_EXECUTOR_MEMORY=2g
