.env
*.env.local
*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
dist/
build/
.eggs/
*.log
*.tmp
*.bak
.DS_Store
.idea/
.vscode/
*.iml

dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

airflow/logs/
airflow/plugins/__pycache__/

data_quality/.great_expectations/uncommitted/

infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/terraform/*.tfplan
infrastructure/terraform/.terraform.lock.hcl

serving/grafana/data/
prometheus/data/

spark_jobs/__pycache__/
producer/__pycache__/

.agents
.claude
.commandcode
.windsurf
.opencode